@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $very-dark-blue;
  display: grid;
  font-family: $overpass;
  font-size: 15px;
  min-height: 100vh;
  padding: 25px 0;
  place-content: center;
}
main {
  background: linear-gradient($color-top, $color-bottom);
  border-radius: 16px;
  max-width: 325px;
  transition: max-width 0.2s ease-in-out;
  section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 30px;
    .form__image {
      background: hsla(0, 0%, 100%, 0.05);
      border-radius: 50px;
      display: flex;
      margin-bottom: 21px;
      padding: 12.5px;
      img {
        height: auto;
        user-select: none;
        width: 15px;
      }
    }
    h1 {
      color: $white;
      font-size: 1.467rem;
      margin: 0;
      margin-bottom: 14px;
    }
    p {
      color: $light-grey;
      font-size: 0.9rem;
      letter-spacing: -0.2px;
      line-height: 1.5;
      margin-bottom: 28px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      fieldset.rating {
        border: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        .rating__item {
          input {
            display: none;
            &:checked + label {
              background: $medium-grey;
              color: $white;
            }
          }
          label {
            align-items: center;
            background: hsla(0, 0%, 100%, 0.05);
            border-radius: 50px;
            color: $light-grey;
            cursor: pointer;
            display: inline-flex;
            height: 40px;
            justify-content: center;
            padding-top: 4px;
            transition: all 0.2s ease-in-out;
            user-select: none;
            width: 40px;
            &:hover {
              background: $orange;
              color: $white;
            }
          }
        }
      }
      button {
        background: $orange;
        border: none;
        border-radius: 50vw;
        color: $white;
        letter-spacing: 1px;
        cursor: pointer;
        display: block;
        outline: none;
        padding: 18px 15px 12px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        user-select: none;
        width: 100%;
        &:hover {
          background: $white;
          color: $orange;
        }
      }
    }
  }

  section.message {
    align-items: center;
    padding: 34px 24px 38px;
    text-align: center;
    img {
      margin-bottom: 18px;
      max-width: 145px;
      user-select: none;
    }
    .message__results {
      background: hsla(0, 0%, 100%, 0.05);
      border-radius: 50px;
      color: $orange;
      font-size: 0.9rem;
      letter-spacing: -0.15px;
      margin-bottom: 30px;
      padding: 9px 12px 6px;
      user-select: none;
    }
    p {
      margin-bottom: 0;
    }
  }
  section.message {
    display: none;
  }
}

@import "media";
