@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #121417;
  display: -ms-grid;
  display: grid;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  padding: 25px 0;
  place-content: center;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#242932), to(#18202a));
  background: linear-gradient(#242932, #18202a);
  border-radius: 16px;
  max-width: 325px;
  -webkit-transition: max-width 0.2s ease-in-out;
  transition: max-width 0.2s ease-in-out;
}

main section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 24px 30px;
}

main section .form__image {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  padding: 12.5px;
}

main section .form__image img {
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 15px;
}

main section h1 {
  color: white;
  font-size: 1.467rem;
  margin: 0;
  margin-bottom: 14px;
}

main section p {
  color: #959eac;
  font-size: 0.9rem;
  letter-spacing: -0.2px;
  line-height: 1.5;
  margin-bottom: 28px;
}

main section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 100%;
}

main section form fieldset.raiting {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

main section form fieldset.raiting .raiting__item input {
  display: none;
}

main section form fieldset.raiting .raiting__item input:checked + label {
  background: #7c8798;
  color: white;
}

main section form fieldset.raiting .raiting__item label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  color: #959eac;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
}

main section form fieldset.raiting .raiting__item label:hover {
  background: #fb7413;
  color: white;
}

main section form button {
  background: #fb7413;
  border: none;
  border-radius: 50vw;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 18px 15px 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

main section form button:hover {
  background: white;
  color: #fb7413;
}

main section.message {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 24px 38px;
  text-align: center;
}

main section.message img {
  margin-bottom: 18px;
  max-width: 145px;
}

main section.message .message__results {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  color: #fb7413;
  font-size: 0.9rem;
  letter-spacing: -0.15px;
  margin-bottom: 30px;
  padding: 9px 12px 6px;
}

main section.message p {
  margin-bottom: 0;
}

main section.form {
  display: none;
}

@media (min-width: 768px) {
  main {
    border-radius: 30px;
    max-width: 412px;
  }
  main section {
    padding: 33px 36px 30px 33px;
  }
  main section .form__image {
    margin-bottom: 35px;
    padding: 15px;
  }
  main section .form__image img {
    width: 17px;
  }
  main section h1 {
    font-size: 1.733rem;
    margin-bottom: 11px;
  }
  main section p {
    font-size: 1rem;
    letter-spacing: -0.5px;
  }
  main section form {
    gap: 32px;
  }
  main section form fieldset.raiting .raiting__item label {
    height: 50px;
    width: 50px;
  }
  main section.message {
    padding: 45px 36px 50px;
  }
  main section.message img {
    margin-bottom: 26px;
    max-width: 160px;
  }
  main section.message .message__results {
    font-size: 0.95rem;
    letter-spacing: 0;
    margin-bottom: 36px;
    padding: 9px 18px 6px;
  }
}
/*# sourceMappingURL=styles.css.map */